<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="brLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="brLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <brLauncher.Properties.Settings>
            <setting name="userid" serializeAs="String">
                <value />
            </setting>
            <setting name="user_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="userid_remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userpass_remember" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hexedFile" serializeAs="String">
                <value>ragnarok.exe</value>
            </setting>
        </brLauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <brLauncher.Properties.Settings>
            <setting name="clockIcon" serializeAs="String">
                <value>brLauncher</value>
            </setting>
        </brLauncher.Properties.Settings>
    </applicationSettings>
</configuration>